:root {
  --font: "Urbanist", sans-serif;

  --color-white-0: #FFFFFF;
  --color-white-1: #F2F2F2;
  --color-white-2: #F5F5F5;

  --color-black-0: #000000;
  --color-black-1: #03110D;
  --color-black-2: #1C1C1C;
  --color-hamburger: #010002;

  --color-green: #1AA584;
  --color-green-focus: #48B79D;
  --color-green-message: #147C63;
  --color-green-light: #D1EDE6;
  --color-green-1: #A3DBCE;
  --color-green-lime: #DCF8B1;
  --color-red: #EB5757;

  --color-grey-0: #A0A0A0;
  --color-grey-1: #979797;
  --color-grey-2: #9F9F9F;
  --color-grey-3: #6F6F6F;
  --color-grey-4: #393939;

  --shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
}