/* Header */

.header {
  display: flex;
  justify-content: center;

  height: 5.25rem;
  width: 100%;

  box-shadow: var(--shadow);
  background-color: var(--color-white-0);

  position: fixed;
  z-index: 300;
}

.main-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  margin: 0 1.5625rem;
}

.container-logo-btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
}

#logo-liva {
  width: 5.0625rem;
  height: 2.025rem;
}

#btn-mobile {
  display: flex;
  background-color: transparent;
  align-items: center;
}

#hamburger {
  display: block;
  width: 16px;
  border-top: 2.69px solid var(--color-hamburger);
}

#hamburger::after,
#hamburger::before {
  content: "";
  display: block;
  position: relative;
  width: 16px;
  height: 2.69px;
  margin-top: 1.68px;
  background-color: currentColor;
  transition: 0.3s;
}

#btn-mobile.active #hamburger {
  border-top-color: transparent;
}

#btn-mobile.active #hamburger::before {
  transform: rotate(45deg);
}

#btn-mobile.active #hamburger::after {
  transform: rotate(-45deg);
  top: -4px;
}

.nav-menu {
  overflow-y: auto;
}

.nav {
  position: absolute;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;

  width: 100%;
  height: 0rem;
  right: 0rem;

  z-index: 1000;
  transition: 0.6s;

  visibility: hidden;
  overflow-y: auto;

  background-color: var(--color-white-0);
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 1.6875rem;
  padding: 2.5rem 1.5625rem 0rem 1.5625rem;
}

.nav-menu.active .nav {
  height: calc(100vh - 5.25rem);
  visibility: visible;
}

.nav-link {
  font-size: 1.125rem;
  padding: 0px;

  color: var(--color-black-1);
  transition: 0.6s;
}

.nav-link:hover {
  color: var(--color-green);
}

.btn.btn-primary {
  background-color: var(--color-green);
  border: 0;
  box-shadow: none;
}

.btn:not(:disabled):not(.disabled):active {
  background-color: var(--color-green);
  border-color: transparent;
}

#span-links {
  font-size: 0.875rem;
}

.container-network {
  display: flex;
  flex-direction: column;
  gap: 0.8888rem;
  padding-top: 0.5rem;
}

.network-icons {
  display: flex;
  gap: 1.0369rem;
}

.container-whats {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 5.25rem;
  padding: 1.1875rem 1.5625rem;

  background-color: var(--color-white-1);
}

.whatsapp {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 2.875rem;
  width: 19.4375rem;
  gap: 0.5775rem;

  font-size: 0.75rem;

  transition: 0.6s;
}

.whatsapp:hover {
  background-color: var(--color-green-focus);
}

/* Desktop Header */

@media screen and (min-width: 768px) {
  .header {
    margin: 0rem;
  }

  .main-menu {
    flex-direction: inherit;
    gap: 5.75rem;
    width: 80%;
  }

  .container-logo-btn {
    width: 6.75rem;
    margin: 0;
  }

  #logo-liva {
    width: 6.75rem;
    height: 2.7rem;
  }

  #btn-mobile {
    display: none;
  }

  .nav {
    visibility: visible;
    flex-direction: inherit;
    align-items: center;

    position: initial;

    height: auto;
    margin: 0;
    gap: 3.8694rem;
  }

  .menu {
    flex-direction: inherit;
    padding: 0rem;
    align-items: center;
    gap: 2.5rem;
  }

  .nav-link {
    font-size: 0.875rem;
  }

  #span-links {
    display: none;
  }

  .container-whats {
    background-color: transparent;
    width: auto;
    padding: 0rem;
  }

  .container-network {
    margin-left: calc(8.9494rem - 2.5rem);
    padding: 0rem;
  }

  .icon-network {
    width: 1.5163rem;
  }

  .whatsapp {
    width: 8.625rem;
    font-weight: 300;
  }
}

/* Section Carousel */

#section-carousel {
  padding-top: 84px;
}

.container-fluid {
  padding: 0rem;
}

.carousel-item {
  background: linear-gradient(
    90deg,
    var(--color-black-0) 0%,
    rgba(0, 0, 0) 71.21%
  );
}

.carousel-item picture {
  opacity: 0.9;
}

.carousel-caption {
  display: flex;
  flex-direction: column;
  align-items: baseline;

  gap: 16px;
  top: 10%;
  left: 0;
  margin-left: 25px;
}

.carousel-caption span,
.carousel-caption p {
  font-size: 12px;
}

.carousel-caption h2 {
  font-size: 32px;
  font-weight: 700;
}

.carousel-caption p {
  color: var(--color-black-1);
  background-color: var(--color-green-lime);

  border-radius: 4px;

  display: flex;
  justify-content: center;
  padding: 8px 19px 8px 8px;
  text-align: center;
}

.btn-more {
  margin-top: calc(48px - 16px);
  height: 44px;
  width: 128px;

  color: var(--color-white-0);
  background-color: transparent;
  border-radius: 4px;
  border: 2px solid var(--color-white-0);

  font-size: 14px;

  box-shadow: none;
  transition: 0.6s;
}

.btn-more:hover {
  background-color: var(--color-white-0);
  color: var(--color-black-0);
}

.d-block {
  height: 26.5rem;

  object-fit: cover;
  object-position: left;
}

.carousel-control-next,
.carousel-control-prev {
  align-items: flex-end;
  top: auto;
}

.carousel-control-next {
  left: 77px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-image: none;
  background-color: var(--color-black-0);
  min-width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-control-next-icon img,
.carousel-control-prev-icon img {
  width: 17.62px;
  height: 9.87px;
}

.carousel-control-prev-icon {
  margin-left: 25px;
}

/* Desktop Carousel */

@media screen and (min-width: 768px) {
  .d-block {
    height: 751px;
    object-fit: cover;
    object-position: left;
  }

  .carousel-caption {
    width: 60%;
    left: 15%;
    top: 30%;
  }

  .carousel-caption span {
    font-size: 0.875rem;
  }

  .carousel-caption h2 {
    font-size: 5rem;
  }

  .carousel-caption p {
    font-size: 1.125rem;
  }

  .btn-more {
    font-size: inherit;
    width: 174px;
    height: 47px;
  }

  .carousel-control-next,
  .carousel-control-prev {
    align-items: center;

    top: 0;
    left: inherit;
    transition: 0.5s;
  }

  .carousel-control-next {
    justify-content: flex-end;
  }

  .carousel-control-prev {
    justify-content: flex-start;
  }

  .carousel-control-prev span {
    margin: 0;
  }

  .carousel-control-next-icon img,
  .carousel-control-prev-icon img {
    width: 28px;
    height: 15.42px;
  }

  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    width: 100px;
    height: 100px;
  }
}

@media screen and (min-width: 1024px) {
  .carousel-caption {
    width: 50%;
  }
}

/* Section About Us */

#section-about {
  display: flex;
  height: 424px;
}

#section-about.desactive {
  display: none;
}

.container-about {
  width: 310px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.container-about h2 {
  line-height: 33.6px;
  font-size: 28px;
}

.container-about h2 span {
  color: var(--color-green);
}

.container-about p {
  font-size: 14px;
  font-weight: 300;
  line-height: 22.4px;
}

.container-about .btn-more {
  align-self: baseline;
  color: var(--color-black-0);
  border-color: var(--color-black-0);
}

.container-about .btn-more:hover {
  color: var(--color-white-0);
  background-color: var(--color-black-0);
}

.image-about {
  display: none;
  width: 100%;
}

/* Desktop Section About Us */

@media screen and (min-width: 768px) {
  #section-about {
    height: 700px;
    align-items: center;
    gap: 130px;
  }

  .container-about {
    width: 543px;
  }

  .image-about {
    display: block;
  }

  .container-about h2 {
    line-height: 57.6px;
    font-size: 48px;
  }

  .container-about p {
    font-size: 18px;
    line-height: 28.8px;
  }
}

/* Section Form */

.desktop {
  display: none;
}

#section-form {
  height: 928px;
}

#section-form.desactive {
  display: none;
}

.container-contact-us {
  background-color: var(--color-black-1);
  padding: 64px 25px 50px 25px;
}

.container-contact-us h3 {
  font-size: 28px;
  font-weight: 600;
  line-height: 33.6px;

  width: 277px;
  margin-bottom: 24px;
  color: var(--color-white-0);
}

.container-contact-us p {
  font-size: 14px;
  line-height: 22.4px;

  color: var(--color-white-0);
  width: 310px;
  margin-bottom: 33px;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;

  margin-bottom: 40px;
  gap: 20px;

  border-radius: 4px;
  background-color: var(--color-white-0);
}

.form.desactive {
  display: none;
}

.form h4 {
  font-size: 14px;

  margin-top: 37px;
  width: 90%;
}

.container-input label {
  position: absolute;
  top: 16px;
  left: 17.12px;
  font-size: 14px;
  transition: 0.6s;
  cursor: text;
}

.form input:focus ~ label,
.form input:not(:placeholder-shown):not(:focus) ~ label,
.form textarea:focus ~ label,
.form textarea:not(:placeholder-shown):not(:focus) ~ label {
  top: 7px;
  font-size: 12px;
  color: var(--color-grey-0);
}

.form input,
textarea {
  height: 48px;
  width: 100%;

  border: 2px solid var(--color-black-0);
  border-radius: 4px;

  padding: 4px 40px 0px 17.12px;
  font-size: 14px;
}

.form textarea {
  height: 130px;
  padding-top: 18px;
  resize: none;
}

.container-input.success input,
.container-input.success textarea {
  border-color: var(--color-green-focus);
  color: var(--color-green-focus);
}

.container-input.error input,
.container-input.error textarea {
  border-color: var(--color-red);
  color: var(--color-red);
}

.container-input img {
  position: absolute;
  top: 16px;
  right: 24px;
  visibility: hidden;
}

.container-input.success img {
  visibility: visible;
}

.span-errors {
  color: var(--color-red);
  margin-top: 4px;
  font-size: 10px;
  display: none;
}

.container-input.error .span-errors {
  display: block;
}

.form input:focus,
.form textarea:focus {
  color: var(--color-black-0);
}

.container-input {
  position: relative;
}

.container-input,
.form h4,
.form button {
  width: 90%;
}

.container-consults {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;

  color: var(--color-white-0);
}

.container-consults span {
  font-size: 12px;
  font-weight: 300;
}

.form button {
  font-size: 14px;
  width: 90%;
  height: 44px;
  margin-bottom: 33px;
  transition: 0.6s;
}

.form button:hover {
  background-color: var(--color-green-focus);
}

.form.message {
  display: none;
}

.form.message {
  height: 508.4px;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white-2);
}

.form.message h4 {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-green-message);
}

.form.message p {
  color: var(--color-grey-3);
}

.form.message.send {
  display: flex;
}

/* Desktop Section Form */

@media screen and (min-width: 520px) {
  .container-contact-us {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form,
  .container-contact-us p,
  .container-contact-us h3 {
    width: 470px;
  }

  .form input,
  textarea {
    padding-left: 24px;
  }

  .container-input label {
    left: 24px;
  }

  .container-input,
  .form h4,
  .form button {
    width: 79%;
  }
}

@media screen and (min-width: 1024px) {
  #section-form {
    display: flex;
    background-color: var(--color-black-1);
    height: 638px;
  }

  .container-contact-us {
    width: 58%;
    align-items: baseline;
    padding: 108px 25px 50px 134px;
  }

  .container-contact-us h3 {
    font-size: 36px;
    width: 356px;
    line-height: 140%;
  }

  .container-contact-us p {
    font-size: 18px;
    margin-bottom: 48px;
    line-height: 160%;
    width: inherit;
  }

  .container-contact-us .form {
    display: none;
  }

  .container-consults {
    align-items: baseline;
  }

  .container-form {
    width: 42%;
    display: block;
    background: url(../assets/images/image_form.jpg);
    background-repeat: round;
    object-fit: cover;
  }

  .container-form .background {
    background: rgba(0, 0, 0, 0.3);
    padding: 57px 0px;
    height: 100%;
    width: 100%;
  }

  .form {
    right: 100px;
    position: relative;
    margin: 0;
  }

  .form h4 {
    font-size: 18px;
  }

  .form button {
    font-size: inherit;
  }
}

/* Section Enterprises */

#section-enterprises {
  display: flex;
  flex-direction: column;
  margin: 64px auto 53px auto;
  align-items: center;
}

#section-enterprises.desactive {
  display: none;
}

.container-enterprises {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 100%;
}

.container-enterprises h3 {
  font-size: 32px;
  color: var(--color-black-1);
  width: 310px;
  line-height: 38.4px;
}

.container-enterprises h3 span {
  color: var(--color-green);
}

#btn-filter {
  color: var(--color-white-0);
  background-color: var(--color-black-0);
  border-radius: 4px;

  width: 310px;
  height: 48px;

  font-size: 14px;

  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 9.7px;

  transition: 0.6s;
}

#btn-filter.active {
  color: var(--color-black-0);
  background-color: var(--color-white-0);
  border: 2px solid var(--color-black-0);
}

.container-enterprises button img {
  width: 13.11px;
  height: 13.11px;
}

.container-filter {
  width: 100%;
}

.container-filter.active .filter {
  height: 176px;
  margin-bottom: 50px;
  visibility: visible;
  opacity: 1;
}

.filter {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  width: 100%;
  height: 0rem;
  right: 0rem;

  transition: 0.6s;
  visibility: hidden;
  opacity: 0;
}

.filter select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(../assets/icons/select_open.svg) no-repeat center right
    30.26px;
  border: 1px solid #333;
  font-size: 15px;
  padding-right: 20px;
}

.filter select.close-select {
  background: url(../assets/icons/select_close.svg) no-repeat center right
    30.26px;
}

.filter select {
  border: 2px solid var(--color-black-0);
  border-radius: 4px;
  padding-left: 24px;

  width: 310px;
  min-height: 48px;

  font-size: 14px;
}

.filter select option {
  height: 48px;
  background-color: var(--color-white-1);
}

.filter select option:hover {
  background-color: var(--color-black-0);
  color: var(--color-white-0);
}

#content {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin-bottom: 49px;
  background-color: var(--color-white-0);
}

#content .carousel-caption {
  height: fit-content;
  top: auto;
  bottom: 5%;
}

.card,
.card-1 {
  width: 310px;
  height: 280px;

  display: initial;
  position: relative;

  background-color: var(--color-black-0);
  border-radius: 4px;
  border: 0;
}

.card picture,
.card-1 picture {
  transition: 0.6s;
}

.card-1 picture:hover,
.card picture:hover {
  opacity: 0.7;
}

.card-infos {
  position: absolute;
  opacity: 0;

  transition: 0.3s ease-out;
}

.card-1:hover .carousel-caption .card-infos {
  position: initial;
  opacity: 1;
}

.card img,
.card-1 img {
  opacity: 0.85;
}

.card .carousel-caption,
.card-1 .carousel-caption {
  font-size: inherit;
  justify-content: flex-end;
}

.card .carousel-caption span,
.card-1 .carousel-caption span {
  color: var(--color-black-0);
  padding: 14px;
  background-color: var(--color-white-0);
  border-radius: 4px;
}

.card-infos {
  display: none;
}

.image-card {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#section-enterprises .btn-more {
  color: var(--color-grey-0);
  border-color: var(--color-grey-2);
  width: 178px;
  margin-top: 0;
}

#section-enterprises .btn-more:hover {
  color: var(--color-white-0);
  background-color: var(--color-black-0);
  border-color: var(--color-black-0);
  width: 178px;
  margin-top: 0;
}

/* Desktop Section Enterprises */

@media screen and (min-width: 768px) {
  .container-enterprises h3 {
    width: auto;
  }
}

@media screen and (min-width: 992px) {
  #section-enterprises.container {
    max-width: 900px;
  }
}

@media screen and (min-width: 1024px) {
  #section-enterprises {
    margin: 120px auto 216px auto;
  }

  .container-enterprises {
    flex-direction: row;
    justify-content: space-between;
  }

  .container-enterprises h3 {
    display: flex;
    flex-direction: column;
    font-size: 48px;
    line-height: 57.6px;
  }

  #btn-filter {
    width: 174px;
    height: 47px;

    font-size: 16px;
    align-self: flex-end;
  }

  .container-enterprises button img {
    width: 14.6px;
    height: 15.75px;
  }

  .filter {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 64px;
  }

  .filter select {
    font-size: inherit;
  }

  .container-filter.active .filter {
    height: inherit;
    margin: 48px 0px 64px 0px;
    visibility: visible;
  }

  #content {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(280px, auto);
    grid-gap: 30px;
    display: grid;
    margin: 0 auto;
    margin-bottom: 80px;
  }

  #content .carousel-caption {
    left: 3%;
    bottom: 7%;
    font-size: 14px;
  }

  #content .card {
    width: 270px;
  }

  .card-infos {
    display: flex;
    flex-direction: column;
    gap: 44px;
  }

  .infos-place {
    display: flex;
    gap: 40px;
    text-align: start;
  }

  .city,
  .district {
    gap: 3px;
    font-size: 12px;
  }

  .city p,
  .district p,
  .infos-type p {
    font-size: 14px;
    font-weight: 600;
    color: var(--color-white-0);
    background-color: transparent;
    padding: 0;
  }

  .infos-type {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 16px;
  }

  .infos-type p {
    font-size: 12px;
  }

  .bedroom,
  .type {
    display: flex;
    align-items: center;
    gap: 14px;
  }

  .card-1 {
    grid-column: 1/3;
    grid-row: 1/3;
    height: 100%;
    width: inherit;
  }

  .card-1 span {
    font-size: 12px;
  }

  .card-1 h3 {
    font-size: 18px;
  }
}

@media screen and (min-width: 1440px) {
  #section-enterprises.container {
    max-width: fit-content;
  }

  #content {
    grid-template-columns: repeat(4, 1fr);
  }

  .filter {
    width: 100%;
  }

  .filter select {
    width: 370px;
  }
}

/* Footer */

#footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 0px 25px;
  background-color: var(--color-black-0);
  color: var(--color-white-0);
}

#footer.desactive {
  display: none;
}

.main-footer {
  flex-wrap: wrap;
}

.container-footer img {
  margin: 81px 0px 24px 0px;
}

.container-footer p {
  font-size: 12px;
  width: 231px;
  line-height: 19.2px;
  margin-bottom: 61.8px;
}

.menu-footer {
  display: flex;
  flex-direction: column;
  gap: 19px;
  margin-bottom: calc(43px - 19px);
}

.menu-footer h4 {
  color: var(--color-green);

  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;

  margin-bottom: calc(24px - 19px);
}

.menu-footer .nav-link {
  color: var(--color-white-0);
  font-size: 12px;
  transition: 0.6s;
}

.menu-footer .nav-link:hover {
  color: var(--color-green);
}

.network-footer {
  display: flex;
  flex-direction: column;
  gap: 24.19px;
}

.network-footer span {
  font-size: 12px;
}

.icons-footer {
  display: flex;
  gap: 14.38px;
  margin-bottom: 40.19px;
}

.container-infos {
  display: flex;
  flex-direction: column;
}

.container-infos P {
  width: 227px;
  font-size: 12px;
  margin-bottom: 16px;
}

.container-infos #tel,
.container-infos #emailFooter {
  font-size: 14px;
}

.container-infos #tel {
  color: var(--color-white-0);
  font-weight: 600;
}

.container-infos #emailFooter {
  margin: 4px 0px 16px 0px;
  color: var(--color-green-light);
}

.container-infos .whatsapp {
  width: 138px;
  margin-bottom: 40px;
}

.container-copyright {
  display: flex;
  justify-content: space-between;

  padding: 20px 0px 29.36px 0px;
  border-top: 1px solid var(--color-black-2);
}

.container-copyright span {
  font-size: 12px;
  width: 123px;
  color: var(--color-grey-3);
}

/* Desktop footer */

@media screen and (min-width: 768px) {
  #footer {
    padding: 0px 135px;
  }

  .main-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 74px;
  }

  #logo-footer {
    margin-top: calc(81px - 74px);
  }

  .network-footer {
    align-self: flex-end;
  }

  .container-infos {
    text-align: end;
    align-items: flex-end;
  }

  .container-copyright span {
    width: 233px;
  }
}

@media screen and (min-width: 1024px) {
  #footer {
    height: 340px;
  }
}

/* Modal Form */

.modal-infos {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  height: 300px;
  padding: 20px;

  background-color: var(--color-white-2);

  gap: 16px;
}

dialog {
  display: none;
  z-index: 10000;
  margin: 0 auto;
  padding: 3px;
  border: 0;
  border-radius: 4px;
  background-color: var(--color-white-2);
}

dialog button {
  padding: 4px 5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 2px;
  background-color: var(--color-white-1);
  border: 2px solid var(--color-grey-0);
  transition: 0.6s;
}

dialog button:hover {
  border-color: var(--color-red);
}

dialog button img {
  width: 12px;
  opacity: 0.6;
}

.modal-infos h4 {
  color: var(--color-green-message);
  font-weight: 600;
  font-size: 18px;
  margin: 0;
}

.modal-infos p {
  color: var(--color-grey-3);
  font-size: inherit;
}

.icon-check {
  background-color: var(--color-green-check);
  border-radius: 50%;
  padding: 30.21px 26px;
  animation: go-back 1s;
}

.icon-check img {
  animation: opacity 1s;
}

@keyframes go-back {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1.2);
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
