/* Header */

.header {
  display: flex;
  justify-content: center;

  height: 5.25rem;

  box-shadow: var(--shadow);
}

.main-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  margin: 0 1.5625rem;
}

.container-logo-btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
}

#logo-liva {
  width: 5.0625rem;
  height: 2.025rem;
}

#btn-mobile {
  display: flex;
  background-color: transparent;
  align-items: center;
  outline: none;
}

.nav-menu {
  overflow-y: auto;
}

.nav {
  position: absolute;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;

  width: 100%;
  height: 0rem;
  right: 0rem;

  z-index: 1000;
  transition: 0.6s;

  visibility: hidden;
  overflow-y: hidden;

  background-color: var(--color-white-0);
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 1.6875rem;
  padding: 2.5rem 1.5625rem 0rem 1.5625rem;
}

.nav-menu.active .nav {
  height: calc(100vh - 5.25rem);
  visibility: visible;
}

.nav-link {
  font-size: 1.125rem;
  font-weight: 500;
  padding: 0px;

  color: var(--color-black-1);
  transition: 0.6s;
}

.nav-link:hover {
  color: var(--color-green);
}

.btn.btn-primary {
  background-color: var(--color-green);
  border: 0;
}

.btn:not(:disabled):not(.disabled):active {
  background-color: var(--color-green);
  border-color: transparent;
}

#span-links {
  font-size: 0.875rem;
  font-weight: 500;
}

.container-network {
  display: flex;
  flex-direction: column;
  gap: 0.8888rem;
  padding-top: 0.5rem;
}

.network-icons {
  display: flex;
  gap: 1.0369rem;
}

.container-whats {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 5.25rem;
  padding: 1.1875rem 1.5625rem;

  background-color: var(--color-white-1);
}

.whatsapp {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 2.875rem;
  width: 19.4375rem;
  gap: 0.5775rem;

  font-size: 0.75rem;
  font-weight: 500;

  transition: 0.6s;
}

.whatsapp:hover {
  background-color: var(--color-green-focus);
}

/* Desktop Header */

@media screen and (min-width: 768px) {
  .header {
    margin: 0rem;
  }

  .main-menu {
    flex-direction: inherit;
    gap: 5.75rem;
    width: 80%;
  }

  .container-logo-btn {
    width: 6.75rem;
    margin: 0;
  }

  #logo-liva {
    width: 6.75rem;
    height: 2.7rem;
  }

  #btn-mobile {
    display: none;
  }

  .nav {
    visibility: visible;
    flex-direction: inherit;
    align-items: center;

    position: initial;

    height: auto;
    margin: 0;
    gap: 3.8694rem;
  }

  .menu {
    flex-direction: inherit;
    padding: 0rem;
    align-items: center;
    gap: 2.5rem;
  }

  .nav-link {
    font-size: 0.875rem;
  }

  #span-links {
    display: none;
  }

  .container-whats {
    background-color: transparent;
    width: auto;
    padding: 0rem;
  }

  .container-network {
    margin-left: calc(8.9494rem - 2.5rem);
    padding: 0rem;
  }

  .icon-network {
    width: 1.5163rem;
  }

  .whatsapp {
    width: 8.625rem;
    font-weight: 300;
  }
}

/* Section Carousel */

.container-fluid {
  padding: 0rem;
}

.carousel-item {
  background: linear-gradient(
    90deg,
    var(--color-black-0) 0%,
    rgba(0, 0, 0) 71.21%
  );
}

.carousel-item picture {
  opacity: 0.9;
}

.carousel-caption {
  display: flex;
  flex-direction: column;
  align-items: baseline;

  gap: 16px;
  top: 10%;
  left: 0;
  margin-left: 25px;
}

.carousel-caption span,
.carousel-caption p {
  font-size: 12px;
  font-weight: 500;
}

.carousel-caption h2 {
  font-size: 32px;
  font-weight: 700;
}

.carousel-caption p {
  color: var(--color-black-1);
  background-color: var(--color-green-lime);

  border-radius: 4px;

  display: flex;
  justify-content: center;
  padding: 8px 19px 8px 8px;
  text-align: center;
}

.btn-more {
  margin-top: calc(48px - 16px);
  height: 44px;
  width: 128px;

  color: var(--color-white-0);
  background-color: transparent;
  border-radius: 4px;
  border: 2px solid var(--color-white-0);

  font-size: 14px;
  font-weight: 500;

  outline: none;
  transition: 0.6s;
  cursor: pointer;
}

.btn-more:hover {
  background-color: var(--color-white-0);
  color: var(--color-black-0);
}

.d-block {
  height: 26.5rem;

  object-fit: cover;
  object-position: left;
}

.carousel-control-next,
.carousel-control-prev {
  align-items: flex-end;
  top: auto;
}

.carousel-control-next {
  left: 77px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-image: none;
  background-color: var(--color-black-0);
  min-width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-control-next-icon img,
.carousel-control-prev-icon img {
  width: 17.62px;
  height: 9.87px;
}

.carousel-control-prev-icon {
  margin-left: 25px;
}

/* Desktop Carousel */

@media screen and (min-width: 768px) {
  .d-block {
    height: 751px;
    object-fit: cover;
    object-position: left;
  }

  .carousel-caption {
    left: 15%;
    top: 25%;
  }

  .carousel-caption span {
    font-size: 0.875rem;
  }

  .carousel-caption h2 {
    font-size: 5rem;
  }

  .carousel-caption p {
    font-size: 1.125rem;
  }

  .btn-more {
    font-size: 1rem;
    width: 174px;
    height: 47px;
  }

  .carousel-control-next,
  .carousel-control-prev {
    align-items: center;
    justify-content: center;

    top: 0;
    left: inherit;
  }

  .carousel-control-next-icon img,
  .carousel-control-prev-icon img {
    width: 28px;
    height: 15.42px;
  }

  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    width: 100px;
    height: 100px;
  }
}

/* Section About Us */

#section-about {
  display: flex;
  height: 424px;
}

#section-about.desactive {
  display: none;
}

.container-about {
  width: 310px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.container-about h2 {
  line-height: 33.6px;
  font-size: 28px;
  font-weight: 500;
}

.container-about h2 span {
  color: var(--color-green);
}

.container-about p {
  font-size: 14px;
  font-weight: 300;
  line-height: 22.4px;
}

.container-about .btn-more {
  align-self: baseline;
  color: var(--color-black-0);
  border-color: var(--color-black-0);
}

.container-about .btn-more:hover {
  color: var(--color-white-0);
  background-color: var(--color-black-0);
}

.image-about {
  display: none;
  width: 100%;
}

/* Desktop Section About Us */

@media screen and (min-width: 768px) {
  #section-about {
    height: 638px;
    align-items: center;
    gap: 130px;
  }

  .container-about {
    width: 543px;
  }
  .image-about {
    display: block;
  }

  .container-about h2 {
    line-height: 57.6px;
    font-size: 48px;
  }

  .container-about p {
    font-size: 18px;
    line-height: 28.8px;
  }
}

/* Footer */

#footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 0px 25px;
  background-color: var(--color-black-0);
  color: var(--color-white-0);
}

#footer.desactive {
  display: none;
}

.main-footer {
  flex-wrap: wrap;
}

.container-footer img {
  margin: 81px 0px 24px 0px;
}

.container-footer p {
  font-size: 12px;
  width: 231px;
  line-height: 19.2px;
  margin-bottom: 61.8px;
}

.menu-footer {
  display: flex;
  flex-direction: column;
  gap: 19px;
  margin-bottom: calc(43px - 19px);
}

.menu-footer h4 {
  color: var(--color-green);

  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;

  margin-bottom: calc(24px - 19px);
}

.menu-footer .nav-link {
  color: var(--color-white-0);
  font-size: 12px;
  transition: 0.6s;
}

.menu-footer .nav-link:hover {
  color: var(--color-green);
}

.network-footer {
  display: flex;
  flex-direction: column;
  gap: 24.19px;
}

.network-footer span {
  font-size: 12px;
}

.icons-footer {
  display: flex;
  gap: 14.38px;
  margin-bottom: 40.19px;
}

.container-infos {
  display: flex;
  flex-direction: column;
}

.container-infos P {
  width: 227px;
  font-size: 12px;
  margin-bottom: 16px;
}

#tel,
#email {
  font-size: 14px;
}

#tel {
  color: var(--color-white-0);
  font-weight: 600;
}

#email {
  font-weight: 500;
  margin: 4px 0px 16px 0px;
  color: var(--color-green-light);
}

.container-infos .whatsapp {
  width: 138px;
  margin-bottom: 40px;
}

.container-copyright {
  display: flex;
  justify-content: space-between;

  padding: 20px 0px 29.36px 0px;
  border-top: 1px solid var(--color-black-2);
}

.container-copyright span {
  font-size: 12px;
  width: 123px;
  color: var(--color-grey-2);
}

/* Desktop footer */

@media screen and (min-width: 768px) {
  #footer {
    padding: 0px 135px;
  }
  .main-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 74px;
  }

  #logo-footer {
    margin-top: calc(81px - 74px);
  }

  .network-footer {
    align-self: flex-end;
  }

  .container-infos {
    text-align: end;
    align-items: flex-end;
  }

  .container-copyright span {
    width: 233px;
  }
}

/* Section Form */

.desktop {
  display: none;
}

.container-contact-us {
  background-color: var(--color-black-1);
  padding: 64px 25px 50px 25px;
}

.container-contact-us h3 {
  font-size: 28px;
  font-weight: 600;
  line-height: 33.6px;

  width: 277px;
  margin-bottom: 24px;
  color: var(--color-white-0);
}

.container-contact-us p {
  font-size: 14px;
  font-weight: 500;
  line-height: 22.4px;

  color: var(--color-white-0);
  width: 310px;
  margin-bottom: 33px;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;

  margin-bottom: 40px;
  gap: 20px;

  border-radius: 4px;
  background-color: var(--color-white-0);
}

.form h4 {
  font-size: 14px;
  font-weight: 500;

  margin-top: 37px;
  width: 90%;
}

.form label {
  display: none;
}

.form input,
textarea {
  height: 48px;
  width: 100%;

  border: 2px solid var(--color-black-0);
  border-radius: 4px;

  padding-left: 17.84px;
}

.form textarea {
  height: 130px;
  padding-top: 15px;
  resize: none;
}

.form input::placeholder,
textarea::placeholder {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-black-0);
}

.container-input,
.form h4,
.form button {
  width: 90%;
}

.container-consults {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;

  color: var(--color-white-0);
}

.container-consults span {
  font-size: 12px;
  font-weight: 300;
}

.form button {
  font-size: 14px;
  width: 90%;
  height: 44px;
  margin-bottom: 33px;
  transition: 0.6s;
}

.form button:hover {
  background-color: var(--color-green-focus);
}

/* Desktop Section Form */

@media screen and (min-width: 520px) {
  .container-contact-us {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form,
  .container-contact-us p,
  .container-contact-us h3 {
    width: 470px;
  }

  .container-input,
  .form h4,
  .form button {
    width: 79%;
  }
}

@media screen and (min-width: 1024px) {
  #section-form {
    display: flex;
    background-color: var(--color-black-1);
  }

  .container-contact-us {
    width: 58%;
    align-items: baseline;
    padding: 108px 25px 50px 134px;
  }

  .container-contact-us h3 {
    font-size: 36px;
    width: 356px;
    line-height: 140%;
  }

  .container-contact-us p {
    font-size: 18px;
    margin-bottom: 48px;
    line-height: 160%;
    width: inherit;
  }

  .container-contact-us .form {
    display: none;
  }

  .container-consults {
    align-items: baseline;
  }

  .container-form {
    width: 42%;
    display: block;
    background: url(../assets/image_form.jpg);
    background-repeat: round;
    object-fit: cover;
  }

  .container-form .background {
    background: rgba(0, 0, 0, 0.3);
    padding: 57px 0px;
    height: 100%;
    width: 100%;
  }

  .form {
    right: 100px;
    position: relative;
    margin: 0;
  }

  .form h4 {
    font-size: 18px;
  }

  .form button {
    font-size: 16px;
  }
}
